USE [MovieDatabase]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 16.03.2018 01:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENRE]    Script Date: 16.03.2018 01:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRE](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MOVIE_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE]    Script Date: 16.03.2018 01:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORIGINAL_LANGUAGE] [nvarchar](50) NULL,
	[ORIGINAL_TITLE] [nvarchar](75) NOT NULL,
	[OVERVIEW] [nvarchar](1000) NULL,
	[RELEASE_DATE] [date] NULL,
	[RUNTIME] [int] NULL,
	[BUDGET] [money] NULL,
	[REVENUE] [money] NULL,
	[GENRE_ID_1] [int] NULL,
	[GENRE_ID_2] [int] NULL,
	[GENRE_ID_3] [int] NULL,
	[PRODUCTION_COMPANY_ID_1] [nvarchar](50) NULL,
	[PRODUCTION_COMPANY_ID_2] [nvarchar](50) NULL,
	[PRODUCTION_COMPANY_ID_3] [nvarchar](50) NULL,
	[PRODUCTION_COUNTRY_ID_1] [nvarchar](50) NULL,
	[PRODUCTION_COUNTRY_ID_2] [nvarchar](50) NULL,
	[PRODUCTION_COUNTRY_ID_3] [nvarchar](50) NULL,
	[IMDB_ID] [nvarchar](9) NULL,
	[POPULARITY] [float] NULL,
	[VOTE_AVERAGE] [numeric](3, 1) NULL,
	[VOTE_COUNT] [int] NULL,
	[POSTER_PATH] [nvarchar](200) NULL,
	[HOMEPAGE] [nvarchar](500) NULL,
 CONSTRAINT [PK_MOVIE_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTION_COMPANY]    Script Date: 16.03.2018 01:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTION_COMPANY](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[COUNTRY_ID] [nvarchar](50) NULL,
	[LOGO_PATH] [nvarchar](100) NULL,
 CONSTRAINT [PK_PRODUCTION_COMPANY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERINFO]    Script Date: 16.03.2018 01:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERINFO](
	[USER_ID] [int] NOT NULL,
	[USER_NAME] [nvarchar](50) NOT NULL,
	[USER_PASSWORD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MOVIE]  WITH CHECK ADD  CONSTRAINT [FK_MOVIE_COUNTRY] FOREIGN KEY([PRODUCTION_COUNTRY_ID_1])
REFERENCES [dbo].[COUNTRY] ([ID])
GO
ALTER TABLE [dbo].[MOVIE] CHECK CONSTRAINT [FK_MOVIE_COUNTRY]
GO
ALTER TABLE [dbo].[MOVIE]  WITH CHECK ADD  CONSTRAINT [FK_MOVIE_COUNTRY1] FOREIGN KEY([PRODUCTION_COUNTRY_ID_2])
REFERENCES [dbo].[COUNTRY] ([ID])
GO
ALTER TABLE [dbo].[MOVIE] CHECK CONSTRAINT [FK_MOVIE_COUNTRY1]
GO
ALTER TABLE [dbo].[MOVIE]  WITH CHECK ADD  CONSTRAINT [FK_MOVIE_COUNTRY2] FOREIGN KEY([PRODUCTION_COUNTRY_ID_3])
REFERENCES [dbo].[COUNTRY] ([ID])
GO
ALTER TABLE [dbo].[MOVIE] CHECK CONSTRAINT [FK_MOVIE_COUNTRY2]
GO
ALTER TABLE [dbo].[MOVIE]  WITH CHECK ADD  CONSTRAINT [FK_MOVIE_GENRE] FOREIGN KEY([GENRE_ID_1])
REFERENCES [dbo].[GENRE] ([ID])
GO
ALTER TABLE [dbo].[MOVIE] CHECK CONSTRAINT [FK_MOVIE_GENRE]
GO
ALTER TABLE [dbo].[MOVIE]  WITH CHECK ADD  CONSTRAINT [FK_MOVIE_GENRE1] FOREIGN KEY([GENRE_ID_2])
REFERENCES [dbo].[GENRE] ([ID])
GO
ALTER TABLE [dbo].[MOVIE] CHECK CONSTRAINT [FK_MOVIE_GENRE1]
GO
ALTER TABLE [dbo].[MOVIE]  WITH CHECK ADD  CONSTRAINT [FK_MOVIE_GENRE2] FOREIGN KEY([GENRE_ID_3])
REFERENCES [dbo].[GENRE] ([ID])
GO
ALTER TABLE [dbo].[MOVIE] CHECK CONSTRAINT [FK_MOVIE_GENRE2]
GO
ALTER TABLE [dbo].[MOVIE]  WITH CHECK ADD  CONSTRAINT [FK_MOVIE_PRODUCTION_COMPANY] FOREIGN KEY([PRODUCTION_COMPANY_ID_1])
REFERENCES [dbo].[PRODUCTION_COMPANY] ([ID])
GO
ALTER TABLE [dbo].[MOVIE] CHECK CONSTRAINT [FK_MOVIE_PRODUCTION_COMPANY]
GO
ALTER TABLE [dbo].[MOVIE]  WITH CHECK ADD  CONSTRAINT [FK_MOVIE_PRODUCTION_COMPANY1] FOREIGN KEY([PRODUCTION_COMPANY_ID_2])
REFERENCES [dbo].[PRODUCTION_COMPANY] ([ID])
GO
ALTER TABLE [dbo].[MOVIE] CHECK CONSTRAINT [FK_MOVIE_PRODUCTION_COMPANY1]
GO
ALTER TABLE [dbo].[MOVIE]  WITH CHECK ADD  CONSTRAINT [FK_MOVIE_PRODUCTION_COMPANY2] FOREIGN KEY([PRODUCTION_COMPANY_ID_3])
REFERENCES [dbo].[PRODUCTION_COMPANY] ([ID])
GO
ALTER TABLE [dbo].[MOVIE] CHECK CONSTRAINT [FK_MOVIE_PRODUCTION_COMPANY2]
GO
ALTER TABLE [dbo].[PRODUCTION_COMPANY]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTION_COMPANY_COUNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTION_COMPANY] CHECK CONSTRAINT [FK_PRODUCTION_COMPANY_COUNTRY]
GO
